<div class="modal fade" [attr.id]="id" tabindex="-1" [attr.aria-labelledby]="id + 'Label'" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" [attr.id]="id + 'Label'"><i class="fas fa-exclamation-triangle text-warning"></i> Alert</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{ message }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <button type="button" class="btn btn-warning" (click)="onClick()" data-bs-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>
